/*website structure
*/

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Trebuchet MS', Helvetica, sans-serif;
    background: #fff url(./imagens/fundo.png) repeat-x;
}

#container {
    width: 750px;
    margin: 0 auto;
}

#top {
    height: 150px;
    background: url(./imagens/detalhe-topo.png) no-repeat right top;
    padding-top: 25px;
    /*border: 1px solid red;*/
}

.logo {
    width: 152px;
    height: 66px;
    background: url(./imagens/logo.png) no-repeat center;
    text-indent: -3000px;
}


/* Navigation bar
*/

a:link,
a:visited {
    color: #b10333;
    padding: 2px;
}

a:hover {
    color: #e50040;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#top ul {
    margin-top: 30px;
    background: #b10333;
    float: left;
}

#top ul li {
    float: left;
}

#top ul a {
    font-size: 0.9em;
    display: block;
    padding: 0.5em 1.5em;
    line-height: 2.1em;
    text-decoration: none;
    color: #fff;
    background: url(./imagens/divisor.png) no-repeat left center;
}

#top ul .primary a {
    background: none;
}

#top ul a:hover {
    color: #100146;
}

body.home #navegation a#home,
body.brazil #navegation a#brazil,
body.international a#international,
body.photos a#photos {
    color: #fff;
    background: #de003e;
    cursor: text;
}


/*Configure three-column layout*/

#content {
    margin-top: 60px;
    background: #f5f5f5;
}

#side {
    width: 180px;
    float: left;
    margin: 0 0 20px -750px;
}

#primary {
    width: 270px;
    float: left;
    margin: 0 0 20px 195px;
}

#two-col #primary {
    width: 555px;
}

#one-col #primary {
    width: 750px;
    margin: 0 0 20px 0;
}

#secundary {
    width: 270px;
    float: left;
    margin: 0 0 20px 15px;
}


/*Box*/

.box {
    margin: 10px 0;
    padding: 5px 0 5px 0;
    background: #f3f3f3 url(./imagens/fundo-caixa.png);
}

h2 {
    font-size: 1em;
    padding: 5px;
    background: #294c71;
    color: #fff;
}

.box-content {
    background: #fff;
    padding: 5px;
    margin-top: 5px;
}


/*Format side menus*/

#side ul a {
    font-size: 0.9em;
    padding: 3px;
    display: block;
    line-height: 30px;
    color: #000;
    text-decoration: none;
    border-bottom: 1px solid #f3f3f3;
}

#side ul a:hover {
    background: url(./imagens/marcador.png) no-repeat left center;
    padding-left: 20px;
    color: #a1a1a1;
}


/*Format form*/

label {
    display: block;
    cursor: pointer;
}

input {
    padding: 5px;
    width: 160px;
    font-size: 0.9em;
    background-color: #fff;
}

input.submit {
    width: 80px;
    color: #fff;
    background-color: #b10333;
    border: 2px solid #870529;
    margin-top: 0.5em;
}


/*Formatting images*/

img.main-image {
    width: 98%;
    border: 3px solid #dfdfdf;
}


/*Formatting header*/

h3 {
    text-transform: uppercase;
    display: inline;
    font-size: 0.8em;
    padding: 3px;
}

.emphasis h3 {
    background: #b10333;
    color: #fff;
}

.interview h3 {
    background: #de003e;
}


/*Formatting List News*/

#list-news li {
    padding: 2px;
    border-bottom: 1px solid #ccc;
    height: 62px;
}

#list-news li a img {
    float: left;
    margin: 5px;
}

#list-news li a {
    text-decoration: none;
}

#list-news li a h3 {
    font-size: 0.8em;
    padding: 0;
    color: #3e7ab9;
}

#list-news li a p {
    font-size: 0.6em;
    color: #000;
}

#list-news li:hover {
    background: #eee;
    cursor: pointer;
}


/*Footer*/

#footer-container {
    background: #294c71;
    padding: 20px;
}

#footer {
    width: 750px;
    margin: 0 auto;
    color: #fff;
}